.photo-list {
    width: 100%;
    list-style: none;
    margin: 50px auto;
}

.ProtItem{
 height: 350px;
}
.photo-item {
    display: flex;
    width: 440px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .12);
    margin: 20px 0;
}

.photo-item img {
    display: flex;
    width: 100%;
    border: 4px double rgba(0, 0, 0, .12);
}


.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* background-color: #008CBA; */
  }
  
  .container:hover .overlay2 {
    opacity: 1;
  }
  
  /* .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */

  .hovereffect2 {
    /* width: 100%;
    height: 100%; */
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect2 .overlay2 {
    /* width: 100%;
    height: 100%; */
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .hovereffect2 img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  
  .hovereffect2:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .hovereffect2 h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 70%;
    font-size: 22px;
    font-weight: bolder;
    padding: 10px;
    font-family: 'Cinzel', serif;
    
    /* background: rgba(0, 0, 0, 0.6); */

    
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    

  }


  /* .hovereffect2 li {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
  }
   */
  .hovereffect2 li:hover {
    box-shadow: 0 0 5px #fff;
  }
  
  .hovereffect2 li, .hovereffect2 h2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.6s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
    text-transform: uppercase;
    /* background-color: rgba(127, 127, 127, 0.9); */
  }
  
  .hovereffect2:hover li, .hovereffect2:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    
  }


  .ProjPorfolio
  {
    height: 500px;
  }