#rightContent
{
  height: 10%;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 10%;
}

#logo
{
  width: 60%;
  height: auto;
 /* margin-top: 75px; */
 /* background-image: url("../../../img/logo.png");
 border-image: none;
 background-repeat: no-repeat; */
 /* background-attachment: fixed; */
 /* background-size:contain; */
 /* position: relative; */
 /* border-style: none; */
}

#txtMoto
{
   /* color: black; */
   background-color:rgba(0,0,0,0.7);
   font-family: 'Cinzel', serif;
   color: rgb(173,154,140);
   font-size: 15px;
}

